<section hlmCard>
  <div hlmCardHeader>
    <h3 class="text-lg font-medium leading-none">Statistics</h3>
  </div>
  <div hlmCardContent class="grid gap-4">
    @if (statistics) {
      <div>
        <p class="text-sm text-muted-foreground"><strong>Total Parkplätze: </strong>{{ statistics.total }}</p>
        <p class="text-sm text-muted-foreground"><strong>Frei: </strong>{{ statistics.free }}</p>
        <p class="text-sm text-muted-foreground"><strong>Besetzt: </strong>{{ statistics.occupied }}</p>
        <p class="text-sm text-muted-foreground"><strong>Reserviert: </strong>{{ statistics.reserved }}</p>
        <p class="text-sm text-muted-foreground"><strong>Deaktiviert: </strong>{{ statistics.disabled }}</p>
        <p class="text-sm text-muted-foreground"><strong>Spezial: </strong>{{ statistics.special }}</p>
      </div>
    }
    @if (errorMessage) {
      <div>{{ errorMessage }}</div>
    }
  </div>
</section>
